@charset "utf-8";

/* 탭영역 > 버튼셋
 -------------------------------------------- */
#tab ul {
    width: auto;
    height: 40px;
    padding: 0 20px;
    background: url(../img/bg_tab.gif) repeat-x;
}

/* 탭영역 > 버튼셋 > 개별항목
 -------------------------------------------- */

/* 탭영역 > Float 해제
 -------------------------------------------- */

/* 탭영역 > 버튼셋 > 개별항목 > 링크
 -------------------------------------------- */

/* 탭영역 > 버튼셋 > 개별항목 > 활성화 메뉴
 -------------------------------------------- */

/* 탭영역 > 버튼셋 > 개별항목 > 활성화 메뉴 > 링크
 -------------------------------------------- */